<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Let's create a puppy</title>
  </head>
  <body>
    <form class="" action="/display_puppy" method="post">
      <h3>Name: <input type="text" name="name"></h3>
      <h3>Breed: <input type="text" name="breed"></h3>
      <h3>Age: <input type="text" name="age"></h3>
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
